# Virtual Environment
Lib/
Scripts/
Include/
pyvenv.cfg

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/


# OS
.DS_Store
Thumbs.db

# Project
output/
*.pdf
*.spec
build/
dist/
.vscode/
.idea/
*.json
!app/config/settings.json
!app/templates/**/*.json
!tests/test_results.json

